@model List<DepartmentDto>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<div class="head">
    <h4 style="text-align:center">Departments</h4>
</div>
<div class="middle d-flex">
    <div class="create">
        <div>
            <button class="btn btn-success">
                <a style="color:white;text-decoration:none" asp-controller="Department" asp-action="Create">Create</a>
            </button>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>
                        Settings
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@count</th>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>                   
                            <button class="btn btn-primary">
                                <a style="color:white;text-decoration:none" asp-controller="Department" asp-action="Detail" asp-route-Id="@item.Id">Detail<i class="mdi mdi-grease-pencil"></i></a>

                            </button>
                            <button class="btn btn-warning">
                                <a style="color:white;text-decoration:none" asp-controller="Department" asp-action="Edit" asp-route-Id="@item.Id">Edit<i class="mdi mdi-grease-pencil"></i></a>
                            </button>
                            
                            <form style="display:inline;" asp-action="Delete" asp-route-Id="@item.Id">
                                <button type="submit" class="btn btn-danger">Delete<i class="mdi mdi-delete-forever"></i></button>
                            </form>
                        </td>
                    </tr>
                    count++;
                }              
            </tbody>
        </table>
    </div>
</div>

